<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">
<link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
<script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js">
</script>
<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <div class="sidebar-personal-info">
      <div class="sidebar-personal-info-section">
        <a href="http://gravatar.com/{{ site.author.gravatar }}">
          <img src="https://secure.gravatar.com/avatar/{{ site.author.gravatar }}?s=64" title="View on Gravatar" alt="View on Gravatar" />
        </a>
      </div>
      <div class="sidebar-personal-info-section">
        <p>{{ site.author.description }}</p>
      </div>
      {% if site.author.contact %}
      {% assign len = site.author.contact | size %}
      {% assign current_index = 0 %}
      <div class="sidebar-personal-info-section">
        <p> Follow me:
        {% for contact in site.author.contact %}
        {% assign iconname = contact[0] %}
        {% if contact[0] == 'email' %}
        {% assign iconname = 'envelope' %}
        {% endif %}
        <a href="{{ contact[1] }}">
          <i class="fa fa-{{ iconname }}" aria-hidden="true"></i>
        </a>
        {% assign current_index = current_index | plus: 1 %}
        {% if current_index != len %}|{% endif %}
        {% endfor %}
        </p>
      </div>
      {% endif %}
    </div>
  </div>

     
  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.title == '主页' %} active{% endif %}" href="{{ '/' | absolute_url }}"><i class="fa fa-home" aria-hidden="true"></i>&nbsp;主页</a>
  </nav>
     
  <nav class="sidebar-nav">
    {% for nav in site.nav %}
      {% assign is_relative = nav[1][0] | slice: 0 %}
      {% assign url = nav[1][0] %}
      {% if is_relative == '/' %}
        {% assign url = nav[1][0] | prepend: site.baseurl %}
      {% endif %}

      {% assign sub_len = nav[1] | size | minus: 1 %}
       {% if nav[0] =='个人介绍' %}
        {% assign nap ='fa-user-circle' %}
        {% endif %}
        {% if nav[0] =='博客' %}
        {% assign nap ='fa-book' %}
        {% endif %}

      <span class="{% if sub_len > 0 %}foldable{% endif %}">
        <a class="sidebar-nav-item {% if page.url == nav[1][0] %}active{% endif %}" href="{{ url }}">
             <i class="fa {{ nap }}" aria-hidden="true"></i>&nbsp;
          {{ nav[0] }}
        </a>
<!--
        {% for i in (1..sub_len) %}
          {% for sub_nav in nav[1][i] %}
            {% assign sub_is_relative = sub_nav[1] | slice: 0 %}
            {% assign sub_url = sub_nav[1] %}
            {% if sub_is_relative == '/' %}
              {% assign sub_url = sub_nav[1] | prepend: site.baseurl %}
            {% endif %}
           {% if sub_nav[0] =='分类' %}
              {% assign napp ='fa-folder-open' %}
           {% endif %}
           {% if sub_nav[0] =='标签' %}
              {% assign napp ='fa-tags' %}
           {% endif %}
           <a class="sidebar-nav-item sidebar-nav-item-sub {% if page.url == sub_nav[1] %}active{% endif %}" href="{{ sub_url }}">
             <i class="fa {{ napp }}" aria-hidden="true"></i>&nbsp;
             {{ sub_nav[0] }}
           </a>
          {% endfor %}
        {% endfor %}  -->
      </span>
    {% endfor %}
  </nav>

   <!--这部分代码是分类标签-->
  <div class="post-box">
  <div class="post-tag-head" style="display: block;">
     <span>
          随笔分类
       </span>
   </div>
  {% for tag in site.categories %}
    <a href="/blog/categories/#{{ tag[0] | slugify }}" class="post-tag2"><i class="fa fa-tags" aria-hidden="true"></i>&nbsp;{{ tag[0] }}</a>
  {% endfor %}
  </div>
     
   <!--这部分代码是归档日期-->
  <div class="post-box">
  <div class="post-tag-head" style="display: block;">
     <span>
          随笔档案
       </span>
   </div>
  {% for tag in site.tags %}
    <a href="/blog/tags/#{{ tag[0] | slugify }}" class="post-tag2"><i class="fa fa-calendar-times-o" aria-hidden="true"></i>&nbsp;{{ tag[0] }}</a>
  {% endfor %}
  </div>
  <div class="sidebar-item">
          <i class="fa fa-spinner fa-pulse fa-3x fa-fw" aria-hidden="true"></i>&nbsp; &nbsp;
          <div class="showTime">2021年2月19-20时35分16秒</div>
               <script>
               var t = null;
               t = setTimeout(time, 1000); //开始运行
               function time() {
               clearTimeout(t); //清除定时器
               dt = new Date();
               var y = dt.getFullYear();
               var mt = dt.getMonth() + 1;
               var day = dt.getDate();
               var h = dt.getHours(); //获取时
               var m = dt.getMinutes(); //获取分
               var s = dt.getSeconds(); //获取秒
               document.querySelector(".showTime").innerHTML =
                    y +
                    "年" +
                    mt +
                    "月" +
                    day +
                     "-" +
                    h +
                    "时" +
                    m +
                    "分" +
                    s +
                    "秒";
               t = setTimeout(time, 1000); //设定定时器，循环运行
          }
          </script>

       <span id="busuanzi_container_site_uv">
         <i class="fa fa-eye" aria-hidden="true"></i>&nbsp; &nbsp;
         <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
         <span id="busuanzi_container_site_pv" ><span id="busuanzi_value_site_pv"></span> 次 </span><br>
         <i class="fa fa-users" aria-hidden="true"></i>&nbsp; &nbsp;
         <span id="busuanzi_container_site_uv" ><span id="busuanzi_value_site_uv"></span> 人 </span>
      </span>
    <p>
      &copy; {{ site.time | date: '%Y' }}. by chen-xw.
    </p>
  </div>
</div>
